sensify-page-start {

    .grid{
        height:100%;
    }

    //background Image
    .start{
        background: no-repeat 0 0 fixed;
        background-size: cover;
        color: rgb(255, 255, 255);
    }

    //First Row
    #titleRow{
        overflow:hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        min-height: 70px;
        margin-left: 5px;
        text-align: center;
        font-size:calc(20px + 1.5vw);
    }

    // Titel
    #senseBoxTitle{
        overflow:hidden;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: auto;
    }

    #currentSensorRow{
        font-size:calc(15px + 1.5vw);
    }


    #btnTitle{
        height: auto;
        width: auto;
        font-size:calc(25px + 1.5vw);
        text-align: center;
        color:white;
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-transform: capitalize;
        overflow-x:auto;
        overflow-y: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 10px
    }

    #btn{
        height:auto;
        text-align: center;
        color:white;
        background:transparent;
        text-transform: capitalize;
        overflow:auto;
        white-space: nowrap; 
        text-overflow: ellipsis;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    #currSensor{
        font-size:calc(15px + 1.5vw);
        margin: 10px;
    }

    #dataRow{
        //overflow: auto;
        margin-top: -20px;
        border-bottom-width: 80%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    ion-row.outline, ion-col.outline, button.outline {
        text-shadow:
            0.05em 0 black,
            0 0.05em black,
            -0.05em 0 black,
            0 -0.05em black,
            -0.05em -0.05em black,
            -0.05em 0.05em black,
            0.05em -0.05em black,
            0.05em 0.05em black;
    }

    #chart{
        background:rgba(0, 0, 0, 0.5);
        height: 100%;
        border-radius:25px;
    }

    #chartBTN{
        width: 13vw;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    #sunIcon{
        margin-bottom: -10px;
        width: 13vw;
    }

    #quick-infos{
        text-align: center;
    }
   
    span.header{
        font-size: calc(15px + 1.5vw);
        font-weight:bold;
        text-align: center;
        white-space: nowrap; 
    }
    
    #sensorStyling{
        overflow:auto;
        text-align: left;
        white-space: nowrap; 
        margin-left:calc(-30px + 1.5vw);
        font-size: calc(15px + 1.5vw);
        line-height: 2
    }
}
