sensify-page-start {

    .grid{
        height:100%;
    }

    //background Image
    .start{
        background: no-repeat 0 0 fixed;
        background-size: cover;
        color: rgb(255, 255, 255);
    }

    //First Row
    #titleRow{
        overflow:hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
        min-height: 70px;
        margin-left: 5px;
        text-align: center;
    }

    // Titel
    #senseBoxTitle{
        border-radius: 5px;
        color: rgb(255, 255, 255);
        overflow:hidden;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 20px;
        background:rgba(0, 0, 0, 0.2);
        height: auto;
    }

    // Date
    #date{
        font-size:20px;
        color: rgb(255, 255, 255);
        //margin-top:30px;
    }

    //Second Row
    #currentSensorRow{
        overflow:auto;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    #currentSensorCol{
        text-align:left;
    }

    #btn{
        height:calc(50% + 1.5vw);
        width:auto;
        text-align: left;
        color:white;
        background:rgba(0, 0, 0, 0.2);
        text-transform: capitalize;
        overflow:auto;
        white-space: nowrap; 
        text-overflow: ellipsis;
        border-radius: 15px;
    }

    #btnTitle{
        height: auto;
        width: auto;
        font-size:calc(15px + 1.5vw);;
        text-align: center;
        color:white;
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-transform: capitalize;
        overflow-x:auto;
        overflow-y: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 25px;
        padding-left: 10px
    }

    #curName{
        font-size: calc(10px + 1.5vw);
        margin: 10px;
    }

    #curValue{
        font-size: calc(10px + 1.5vw);
        display: inline;
        font-size: 5.5vw;
        margin: 10px;
    }

    #curUnit{
        font-size: calc(10px + 1.5vw);
        display:inline;
    }

    #sunIndicator{
        text-align: center;
        align-content: center;
    }


    //Headings Row
    #headingsRow{
        background:rgba(0, 0, 0, 0.5);
        margin-top:-20px;
        min-height: 50px;
        border-bottom: 3px solid;
        border-bottom-width: 80%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        border-radius: 15px;
    }

    #headingCol{
        top:-5px;
        text-align: left;
        overflow-y: hidden;
        overflow-x:auto;
    }

    #headingSensor{
        margin-left: 10px;        
        white-space: nowrap; 
    }

    #headingValue{
        margin-left: 10px;
        white-space: nowrap; 
    }

    #headingUnit{
        margin-left: 10px;
        white-space: nowrap; 
    }

    //Third Row
    #dataRow{
        background:rgba(0, 0, 0, 0.5);
        height: 40vh;
        overflow: auto;
        margin-top: 0px;
        border-radius: 15px;
    }

    #sensorCol{
        top:-10px;
        font-size: 20px;
        line-height: 2;
    }

    #valueCol{
        top:-10px;
        font-size: 20px;
        line-height: 2;
    }

    #values{
        margin-left:-30px;
    }

    #unitCol{
        top:-10px;
        font-size: 20px;
        line-height: 2;
        text-align: left;
    }

    #units{
        margin-left:-30px;
    }

    #sensors{
        border-right: 1px solid #aaa;
        margin-left:-30px;
    }

    #element{
        overflow:auto;
        text-align: left;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    #chart{
        background:rgba(0, 0, 0, 0.5);
        height: 100%;
        border-radius: 25px;
    }

    #chartBTN{
        width: 13vw;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    #sunIcon{
        margin-bottom: -10px;
        width: 13vw;
        margin:auto;
    }

    #quick-infos{
        text-align: center;
    }

}
